<div>
    <h2>NEW JUGEMENT</h2>
    <form [formGroup]="jugementForm" (ngSubmit)="onSubmitJugement()">
        <div class="form-group">
            <label for="title">Titre</label>
            <input id="title" type="text" formControlName="title">
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input (change)="onFileChange($event)" type="file" id="image" name="image" formControlName="image" >
        </div>
        <button type="submit" [disabled]="!jugementForm.valid">Submit</button>
    </form>
    

    <button (click)="onClickTest()">Clic</button>

    <h3 *ngIf="message">jugement enregistrer</h3>
</div>

